body {
  margin: 0;
  font-family: Inter;
}

header {
  height: 50px;
  background-color: #d64545;
}

header>nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav>img {
  width: 35px;
}

nav>span {
  color: white;
  font-size: 13px;
  font-weight: 600;
}